---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---


@import 'settings';
@import 'mixin';
@import 'normalize';
@import 'reset';

/*
 * css styles go here
 */

body {

}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
html{
  font-family: $body;
  color: $lightblue;
}
h1, h2, h4{
  font-family: $header;
  color: $lightblue;
}
h3{
  color: $darkred;
}
h3, p, li{
  font-style: italic;
}

// resets


header h1{
  font-size: 2rem;
}
