---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---


@import 'settings';
@import 'mixin';
@import 'normalize';
@import 'reset';

html, body{
  height: 135%;
}
body{
     border: 15px solid transparent;
  -webkit-border-image: url(/assets/bg-big.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(/assets/bg-big.png) 30 round; /* Opera 11-12.1 */
    border-image: url(/assets/bg-big.png) 30 round;
}
svg{
   font-variant: small-caps;
}
.container{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @include breakpoint(break-1){
    width: 960px;
  }
}
ul{
  list-style: none;
}
// global

.mobile {
  display: block;
margin: 0 auto;
width: 65px;
@include breakpoint(break-1){
    display: none;
  }
}
.desktop {
  display: none;
  margin: 0 auto;
@include breakpoint(break-1){
    display: block;
    width: 135px;
    margin: 0 auto;
  }
}

// mobile/desktop

header{
  margin-bottom: 1rem;
}

header h3{
  font-family: $header;
  color: $red;
  font-size: 1rem;
  margin-bottom: 1rem;
  @include breakpoint(break-1){
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

// styles

.lines span{
  display: inline-block;
  position: relative;
}
.lines span:before,
.lines span:after {
  content: "";
  position: absolute;
  height: 5px;
  /* border-bottom: 1px solid red; */
  border-top: 1px solid $red;
  top: -41px;
  width: 108px;
  @include breakpoint(break-1){
    top: 55px;
    width: 320px;
  }
}
.lines span:before {
  right: 100%;
  margin-right: 40px;
  @include breakpoint(break-1){
    margin-right: 15px;
  }
}
.lines span:after {
  left: 100%;
  margin-left: 40px;
  @include breakpoint(break-1){
    margin-left: 15px;
  }
}

tbody {
     display: table-row-group;
     vertical-align: middle;
     border-color: inherit;
     color: $tintblue;
 }
 td{
     font-style: italic;
     font-size: 1rem;
     padding: 1rem 0;
     @include breakpoint(break-1){
       font-size: 1.3rem;
       padding: 1.7rem 0;
     }
 }
 td span{
   font-size: 1.2rem;
   font-family: $body;
   font-style: oblique;
   font-weight: 200;
   @include breakpoint(break-1){
       font-size: 2.5rem;
   }
 }
 .services {
     width: 285px;
   margin: 0 auto;
   @include breakpoint(break-1){
     width: 580px;
     margin: 0 auto;
   }
 }


 sup{
   font-size: 1rem;
   @include breakpoint(break-1){
     font-size: 1.5rem;
   }
 }
strong{
  font-size: 1.3rem;
  font-family: $header;
  @include breakpoint(break-1){
    font-size: 2.3rem;
  }
}

// services
.footer-stuff{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 5rem;
}
footer a{
  color: $tintblue;
}
footer h2{
  font-family: $header;
  font-size: 1.6rem;
  color: $red;
  margin-bottom: 1rem;
}
footer li{
  font-size: 0.9rem;
  color: $tintblue;
  font-family: $body;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  @include breakpoint(break-1){
      font-size: 1.2rem;
  }
}
.contact{
  margin: 2rem 0;
  @include breakpoint(break-1){
    border-right: 1px solid $red;
    border-left: 1px solid $red;
    border-top: none;
    padding: 2rem 1.5rem 0px 1.5rem;
    margin-top: 1rem;
  }
}
.contact p{
  font-size: 1.2rem;
  font-family: $body;
  color: $tintblue;
    text-transform: uppercase;
    margin-bottom: 1rem;
    @include breakpoint(break-1){
        font-size: 1.4rem;
    }
}
.hours,
.contact,
.social{
  float: none;
  @include breakpoint(break-1){
    float: left;
    text-align: center;
  }
}
.hours{
  border-bottom: 1px solid $red;
  width: 66%;
  padding-bottom: 1rem;
  margin: 0 auto;
  @include breakpoint(break-1){
      border-bottom: none;
    width: 27%;
    padding: 0 1.7rem;
          margin-top: 1rem;
  }
}
.social{
  border-top: 1px solid $red;
  width: 66%;
  padding-top: 1rem;
  margin: 0 auto;
  @include breakpoint(break-1){
    width: 27%;
    margin-top: 1rem;
      padding: 0 1.7rem;
 border-top: none;
  }
}
.social a:hover{
  color: #434b54;
}
.contact{
  @include breakpoint(break-1){
    width: 45%;
  }
}
.walk-ins{
  background: $red;
  padding: 0.5rem;
  font-size: 1rem;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 4rem;
  border-radius: 2rem;
  color: white;
  font-family: $header;
  @include breakpoint(break-1){
    width: 30%;
    font-size: 1.2rem;
  }
}
.copy{
  font-family: $body;
  color: $whitegray;
  padding: 3rem 0 3rem 0;
  font-weight: 200;
      font-size: 0.8rem;
  @include breakpoint(break-1){
  }
}
.copy a{
  text-decoration: none;
  color: $whitegray;
}
.copy a:hover{
  color: #8c8c8c;
  text-decoration: underline;
}
