<footer class="">
  <div class="footer-stuff">
    <div class="walk-ins">
    <p>Walk-Ins Accepted</p>
    </div>
    <div class="hours">
    <h2>We're Open</h2>
    <ul>
      <li>tues - fri: 9:30 - 5</li>
      <li>mon - sun: closed</li>
      <li>sat: 10 - 2</li>
    </ul>
    </div>

    <div class="contact">
    <p>566 lincoln ave, bellvue, pa</p>
    <p>412.761.9883</p>
    </div>

    <div class="social">
      <h2>Follow Us</h2>
    <a href="https://www.facebook.com/pages/The-Man-Cave/829531797096408" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
    </div>
  </div>
  <p class="copy">2017 ALL RIGHTS RESERVED &copy; THE MAN CAVE | SITE CREATED BY <a href="http://chrisbrennanpgh.com/" target="_blank">CHRIS BRENNAN</a></p>
</footer>
