<h2>services</h2>

<table class="services">
  <tdody>
  <tr>
    <td>
      <strong>Men's cuts</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>15</span></td>
  </tr>
    <tr>
    <td>
      <strong>Hot towel shave</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>15</span></td>
  </tr>
    <tr>
    <td>
      <strong>Senior Citizen 65 &amp; up</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>12</span></td>
  </tr>
    <tr>
    <td>
      <strong>Children under 7</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>7</span></td>
  </tr>
    <tr>
    <td>
      <strong>Children 7-12</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>10</span></td>
  </tr>
    <tr>
    <td>
      <strong>Specialty cuts extra</strong>
    </td>
      <td style="text-align: right;"><span><sup>$</sup>5</span> - <span><sup>$</sup>12</span></td>
  </tr>
    <tr>
    <td>
      <strong>Specialty shaves</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>25</span></td>
  </tr>
    <tr>
    <td>
      <strong>Beard trims</strong>
    </td>
      <td style="text-align: right;"><span><sup>$</sup>6</span> - <span><sup>$</sup> 15</span></td>
  </tr>
    <tr>
    <td>
      <strong>Crew cuts</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>13</span></td>
  </tr>
    <tr>
    <td>
      <strong>Clean-up</strong>
    </td>
      <td style="text-align: right;"><span><sup>$</sup>7</span> - <span><sup>$</sup>10</span></td>
  </tr>
    <tr>
    <td>
      <strong>Women cuts</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>15</span> - <span><sup>$</sup>25</span></td>
  </tr>
    <tr>
    <td>
      <strong>Cuts &amp; Shave (Mondays)</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>25</span></td>
  </tr>
    </tbody>
</table>
