<body>


<table class="services">
  <tbody>
  <tr>
    <td>
      <strong>Men's cuts ...............</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>15</span></td>
  </tr>
    <tr>
    <td>
      <strong>Senior Citizen 65 &amp; Up</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>12</span></td>
  </tr>
    <tr>
    <td>
      <strong>Beard Trims ................. </strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>12</span></td>
  </tr>
    <tr>
    <td>
      <strong>Specialty Shaves .........</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>25</span></td>
  </tr>
    <tr>
    <td>
      <strong>Woman Cuts ...............</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>15</span> - <span><sup>$</sup>25</span></td>
  </tr>
    <tr>
    <td>
      <strong>Children 7-12 ..............</strong>
    </td>
      <td style="text-align: right;"><span><sup>$</sup>10</span> - <span><sup>$</sup>12</span></td>
  </tr>
    <tr>
    <td>
      <strong>Children under 7 .........</strong>
    </td>
    <td style="text-align: right;"><span><sup>$</sup>7</span></td>
  </tr>
    </tbody>
</table>
